{
	"DestinationName": "CAPM_NORTHWIND",
	"PathSuffix": "/service/northwind/",
	"OfflineEnabled": false,
	"SourceType": "Mobile",
	"RestService": true
}