{
	"DestinationName": "ES5",
	"PathSuffix": "/sap/opu/odata/sap/SEPMRA_OVW/",
	"OfflineEnabled": false,
	"SourceType": "Cloud",
	"RestService": false
}